
 body {
     background-color: white;
     background-image: url('images/DSC01565.jpg');
     font-family: 'Anonymous Pro', ;
     font-family: 'Special Elite', cursive;;
 }
 h3 {
    font-family: 'Open Sans', sans-serif;
 }

 .facebooklink {
     color: green;
 }

 .fieldwidth {
     width: 80%;
     display: block;
 }

 #post-div{
     padding-top: 10px;
     word-wrap: break-word;      /* IE */
     text-align: left;
     background-color: rgba(50, 80, 100, 0.8);
     border-radius: 10px;
 }

 #headerdiv {
    font-family: 'Special Elite', cursive;;
    color: black;
 }

 #navbar {
    background-color: #FFCC66;
    background-color: #DAC986;
    border-bottom: lightgrey solid 2px;
    padding-top: 5px;
    border-radius: 7px;

 }

 #cooldiv {
    background: rgba(50, 80, 100, 0.4);
    color: yellow;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    border: grey solid 2px;
    padding: 2px;
 }

 #dark-button {
    border: black solid 1px;
    font-family: 'Anonymous Pro', ;
    font-size: 15px;
    color: darkred;
    min-width: 132px;
    background-color: #DECE92;
 }

 #dark-button2 {
     background: rgba(50, 80, 100, 0.4);
     color: rgba(255, 204, 0, 0.7);
     height: 36px;
}

 #dark-button3 {
    border: black solid 1px;
    font-family: 'Anonymous Pro', ;
    font-size: 15px;
    color: darkred;
    min-width: 132px;
    background-color: #DECE92;
    float: left;
 }
