<input type="hidden" id="api-token" value="<%= @user.token %>">


<h3>welcome back <%= @user.username %></h3>

<%= button_to "Log Out", '/sessions', method: :delete %>

<form class="new-post" action="/api/posts" method="post">
    <input type="text" name="post[name]" placeholder="...name">
    <input type="submit" name="name" value="new Post!">

</form>





<ul class='posts'>


</ul>

<%= javascript_include_tag 'users' %>
